@import '../../styles/styles.scss';

.footer {
    .social {
      width: 15%;
      min-width: 100px;
      margin: auto;
      padding-top: 20px;
      ul {
        margin: auto;
        padding-left: 0;
        li {
          list-style: none;
          display: inline-block;
          margin: auto;
          width: 50%;
          .social-link {
            width: 34px;
            margin: auto;
            @include mq(mobile) {
              width: 30px;
            }
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }