<div class="footer">
    <div class="social">
      <ul>
        <li>
          <div class="social-link">
            <a [href]="socialLinks.github" target="_blank" (click)="trackOutboundClick(socialLinks.github)"><img src="assets/github.png" /></a>
          </div>
        </li>
        <li>
          <div class="social-link">
            <a [href]="socialLinks.linkedin" target="_blank" (click)="trackOutboundClick(socialLinks.linkedin)"><img src="assets/linkedin.png" /></a>
          </div>
        </li>
      </ul>
    </div>
  </div>