/* You can add global styles to this file, and also import other style files */

@import './config.scss';

body {
  background-color: $mint;
  color: $almost-black;
  font-family: 'Exo', Arial, sans-serif;
  font-size: 1.3em;
  @include mq(mobile) {
    font-size: 1em;
  }
}

h1 {
  font-family: 'Electrolize', Arial, sans-serif;
}
