/* You can add global styles to this file, and also import other style files */

@import './reset';
@import './config';


body {
  background-color: $mint;
  color: $almost-black;
  font-family: 'Exo', Arial, sans-serif;
  font-display: swap;
  line-height: 1.4;
  @include mq(mobile) {
    font-size: .75em;
  }
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1.3em;
  margin: 15px 0;
}
