/* You can add global styles to this file, and also import other style files */

@import './config.scss';

body {
  background-color: $mint;
  color: $almost-black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}
