<div class="header">
  <div class="logo">
    <img src="assets/bh.svg" />
  </div>
</div>
<div class="container">
  <h1>
    Hi, I&rsquo;m Bob Hennessey
  </h1>
  <p>
    I&rsquo;m a software engineer who loves beer, video games, and solving problems with tech (I think I have that order right).
    I also love other things, but lists of threes just feel right, ya know?
  </p>
</div>
<div class="footer">
  <div class="social">
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/bob-hennessey-1034467/" target="_blank"><img src="assets/linkedin.png" /></a>
      </li>
    </ul>
  </div>
</div>


