<div class="header">
  <div class="logo">
    <a href="/"><img src="assets/bh.svg" /></a>
  </div>
</div>
<div class="container">
  <h1>Bob Hennessey,</h1>
  <h2>SOFTWARE ENGINEER</h2>
  <p>
    I&rsquo;m just a guy who loves beer, video games, and solving problems with tech.
    I also enjoy other things, but lists of threes just feel right, ya know?
  </p>
  <p>The rest of the site is still in progress (I blame the designers),
    but check out my LinkedIn below for more info!</p>
</div>
<div class="footer">
  <div class="social">
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/bob-hennessey-1034467/" target="_blank"><img src="assets/linkedin.png" /></a>
      </li>
    </ul>
  </div>
</div>


